﻿@model CDStore.Models.CDObject;
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers

<html>
<head>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

    <link rel="stylesheet" href="~/css/styles.css" runat="server" />

    <style>
        body {
            border: 2px solid black;
            border-radius: 10px;
            padding: 15px;
            margin: 0 auto;
            border: 2px solid black;
            border-radius: 10px;
            height: fit-content;
            width: 800px;
        }

        label {
            font-weight: bold;
        }
    </style>
</head>

<title>Add a CD</title>

</html>

<body>
    <div class="panel panel-success">
        <div class="panel-heading text-center"><h3>Add a CD</h3></div>
        <div class="panel-body">
            <form asp-action="AddCD" method="post">
                <div asp-validation-summary="All"></div>

                <div class="form-group">
                    <label>Bank:</label>
                    <select class="form-control" asp-for="Bank">
                        <option value="">Choose a Bank</option>
                        <option value="UWCU">UWCU</option>
                        <option value="Wells Fargo">Wells Fargo</option>
                        <option value="Chase">Chase</option>
                    </select>
                </div>


                <div class="form-group">
                    <label>Term (Months):</label>
                    <select class="form-control" asp-for="Term">
                        <option value="">Choose a Term</option>
                        <option value="12">12</option>
                        <option value="24">24</option>
                        <option value="48">48</option>
                        <option value="60">60</option>
                    </select>
                </div>

                <div class="form-group">
                    <label asp-for="Rate">Rate (%):</label>
                    <input type="number" class="form-control" asp-for="Rate" />
                </div>

                <div class="form-group">
                    <label asp-for="DepositAmount">Deposit Amount:</label>
                    <input type="number" class="form-control" asp-for="DepositAmount" />
                </div>

                <div class="form-group">
                    <label asp-for="PurchaseDate">Purchase Date:</label>
                    <input type="date" class="form-control" asp-for="PurchaseDate" />
                </div>



                <button class="btn btn-success" type="submit">Add CD</button>
                <a class="btn btn-secondary" asp-action="Index">Back</a>


            </form>
        </div>

    </div>
</body>

