﻿.field-validation-error { color: red;}
.field-validation-valid { display: none;}
.input-validation-error {border: 1px solid red; background-color: lightcoral}
.validation-summary-errors {font-weight: bold; color: orangered}
.validation-summary-valid {display: none}